# dependencies
node_modules/

# next
.next/
out/

# production
dist/
coverage/
playwright-report/
test-results/
artifacts/

# env
.env
.env*.local
!.env.example

# logs
*.log
*.tsbuildinfo

# system
.DS_Store
.vercel
.env*
